body {margin:0px; padding:0px;}

#form-container
{
	width: 600px;
	height: auto !important;
	margin: 0 auto;
	padding: 0 auto;	
}

#form-container h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #fff;
	background: #3B5998;
	padding: 5px;	
}

#form-container table
{
	width: 600px;
}

#form-container table tbody tr .reg-label
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-left: 60px;
}

#form-container table tbody tr .input-text
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 202px;
	height: 15px;
	border: inset 1px #c9c9c9;
	padding: 5px;
	color: #666;
	margin-right: 60px;
}

#form-container table tbody tr textarea
{
	width: 202px;
	border: inset 1px #c9c9c9;
	height: 100px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
	margin-right: 60px;
	resize: vertical;
}

#form-container table tbody tr input[type="text"]
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 202px;
	height: 15px;
	border: inset 1px #c9c9c9;
	padding: 5px;
	color: #666;
	margin-right: 60px;
}

#form-container table tbody tr input[type="password"]
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 202px;
	height: 15px;
	border: inset 1px #c9c9c9;
	padding: 5px;
	color: #666;
	margin-right: 60px;
}

#form-container table tbody tr select
{
	width: 213px;
	height: 28px;
	border: inset 1px #c9c9c9;
	padding: 5px;
}

#form-container table tbody tr .form-submit
{	
}

#form-container table tbody tr .form-submit #form-submit
{
	float: right;
	margin-top: 20px;
	margin-right: 80px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	position: relative;
	border: 2px solid #999;
	background: #3B5998;
}

#form-container table tbody tr .form-submit #form-submit:hover
{
	color: #111;	
}

#form-container table tbody tr .form-submit #form-submit:active
{
	top: 1px;	
}