<h3 class="page_title">
Administrator
<br>
<small>
admin@local.host
</small>
</h3>
<hr>
<form accept-charset="UTF-8" action="/profile/update" class="edit_user form-horizontal" id="edit_user_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="bG3vb5YmakXAxvTq5ocjvuKWJg9u7Y9TUDcYkZ5tmvg=" type="hidden"></div>
<div class="row">
<div class="span7">
<div class="control-group">
<label class="control-label" for="user_name">Name</label>
<div class="controls">
<input class="input-xlarge" id="user_name" name="user[name]" required="required" size="30" value="Administrator" type="text">
<span class="help-block">Enter your name, so people you know can recognize you.</span>
</div>
</div>
<div class="control-group">
<label class="control-label" for="user_email">Email</label>
<div class="controls">
<input class="input-xlarge" id="user_email" name="user[email]" required="required" size="30" value="admin@local.host" type="text">
<span class="help-block">We also use email for avatar detection.</span>
</div>
</div>
</div>
<div class="span5 right">
<fieldset class="tips">
<legend>Tips:</legend>
<ul>
<li>
<p>You can change your password on Account page</p>
</li>
<li>
<p>You can change your avatar at <a href="http://gravatar.com/">gravatar.com</a></p>
</li>
</ul>
</fieldset>
</div>
</div>
<div class="row">
<div class="span7">
<div class="control-group">
<label class="control-label" for="user_skype">Skype</label>
<div class="controls"><input class="input-xlarge" id="user_skype" name="user[skype]" size="30" type="text"></div>
</div>
<div class="control-group">
<label class="control-label" for="user_linkedin">Linkedin</label>
<div class="controls"><input class="input-xlarge" id="user_linkedin" name="user[linkedin]" size="30" type="text"></div>
</div>
<div class="control-group">
<label class="control-label" for="user_twitter">Twitter</label>
<div class="controls"><input class="input-xlarge" id="user_twitter" name="user[twitter]" size="30" type="text"></div>
</div>
<div class="control-group">
<label class="control-label" for="user_bio">Bio</label>
<div class="controls">
<textarea class="input-xlarge" cols="40" id="user_bio" maxlength="250" name="user[bio]" rows="6"></textarea>
<span class="help-block">Tell us about yourself in fewer than 250 characters.</span>
</div>
</div>
</div>
<div class="span5 right">
<fieldset>
<legend>
Personal projects:
<small class="right">
<span>2</span>
of
<span>10000</span>
</small>